<div class="container">
    <div class="formadd">
        <h1 class="text-center text-warning">UPDATE PRODUCT</h1>
        <form *ngIf="updateproductform" [formGroup]="updateproductform" (submit)="update()">

            <div class="form-group">
                <label for="">MARQUE</label>
                <input formControlName="marque" autofocus type="text" placeholder="marque" class="form-control">
            </div>

            <div class="form-group">
                <label for="">QUANTITE</label>
                <input formControlName="quantite" type="text" placeholder="marque" class="form-control">
            </div>

            <div class="form-group">
                <label for="">PRIX</label>
                <input formControlName="prix" type="text" placeholder="PRIX" class="form-control">
            </div>

            <div class="form-group">
                <label for="">FOURNISSEUR</label>
                <input formControlName="fournisseur" type="text" placeholder="FOURNISSEUR" class="form-control">
            </div>

            <div class="form-group">
                <label for="">DATEENTRE</label>
                <input ormControlName="dateentre" type="text" placeholder="DATEENTRE" class="form-control">
            </div>
            <button class="btn btn-warning mt-3 w-100" type="submit"> UPDATE PRODUCT </button>

        </form>
    </div>
</div>